<% provide(:title, 'Shank Global Solutions | Assuring Quality') %>
<% provide(:tab, 'ABOUT') %>
<meta name="Content" description="We want to givie clients global quality that wont cost much. We are experienced in Customer Support software such as Live Person and Zendesk and can bring virtual assistance on par with United States">

<section id="About">
<div class=row>
  <div class="span3">
     <center> <img src="/images/dm.png"> </center>
     <div><center> <font class="rust">Deepak Mani <br> University of Michigan, 2005 <br> Proprietor </font> </center> </div>
  </div>

  <div class="span9"> 
    <h2> About </h2>
    <p> Shank Global Solutions was formed out of the idea of bringing reliable and cost-effective outsourcing services by 
     leveraging the power of the internet. We are located in Chennai, India and have several years of experience working with American clients.
     We'd like to think we are straightforward and don't try to oversell our capabilities, because our goal is to create a WIN-WIN situation.
     We are motivated and keen to learn new things and hopefully make it a pleasant interaction.
   <br>
   <br>
   What sets Shank Global apart is the following:
   </p>
   

  <font class="rust">
  <ul class="shankpoints">
    <li> 1. We will not commit to tasks in which we do not have expertise or resources. </li>
    <li> 2. We will review our work before sending it and give prompt updates. </li>
    <li> 3. We will ensure you are aware of who works for you and that they hold college degrees.  </li>
    <li> 4. We are registered in the U.S. and file taxes with the U.S. government. </li>
    <li> 5. Our rates start at $4.50/hour for basic services and offer discounts for long term projects. </li>
    <li> 6. We love working for foreign clients and would love to share Indian culture with you </li>
  </ul>
  </font>

   <p> We look forward to working with you :)
  
    <br>
    <br>
    Deepak
   </p>  
   <br>
   <br>
   <br>
   <hr>
   <center> <img src ="/images/Mahab.png"> </center>
 </div> <!-- Span9 --!>

</section>
