<% provide(:title, 'Shank Global Solutions | Assuring Quality') %>
<% provide(:tab, 'ABOUT') %>
<meta name="Content" description="We want to givie clients global quality that wont cost much. We are experienced in Customer Support software such as Live Person and Zendesk and can bring virtual assistance on par with United States">

<section id="About">
  <div class="container">
     <h2> Who is Shank Global Solutions? </h2>
     <br>
     <br>
   <div class="row">
        <div class="span6">

            <div class="who">
               <h3> Global Quality meets Affordable Pricing  </h3>
                With 7 years of experience working with American clients
                we understand the expectations of global customers and offer solutions starting at
                $4.50/hour.
            </div>

            <br>
            <div class="who">
               <h3> Real People who like to succeed </h3>
                Our staff have college degrees and committed to giving 100%. We will be available even on holidays if we are needed.
                Our goal is to create a WIN-WIN situation.
            </div>

             <br>
             <div class="who">
                <h3> Transparent Billing </h3>
                 We are registered in the U.S. and file taxes on income reported through 1099 Misc forms.

            </div>
        </div> <!-- Span 6 --!>
     <div class="span6">
          <div class=pic>
            <center> <img src="/images/dm.png"> </center>
            <font class=rust> <center> Deepak Mani, Proprietor <br>  B.S. University of Michigan, 2005 </center> </font>
         </div>  <!-- Pic --!>

          <br> <br>
          <!--<div class="skills">
             <li> <img src="/images/Word.jpeg"> </li>
             <li> <img src="/images/LP.jpg"> </li>
             <li> <img src="/images/Google.jpeg"> </li>
             <li> <img src = "/images/hoot.jpeg"> </li>
           <br>
          </div> --!>
         <div class="testi">

         <font class=quote> " </font> Over the years I have found Shank Global Solutions and their team to be
               proactive, responsive and dedicated. Were it not for a change in our business practices we would have been more than happy
              to continue the relationship. I would be happy to recommend them.
             <br> - <img src="/images/iv_logo.gif">, New York </right>
        </div>

     </div> <!-- Span6 --!>
  </div> <!-- Row --!>


</section>
