<% provide(:title, 'HOME') %>

<% provide(:currently_at, 'Home') %>
<script>

  var sliderUL = jQuery('ul.slider');
  var images = sliderUL.find('img');
  var imageLength = images.length;
  var imageWidth = images[0].width;
  var current = 1;
  var sliderNav = $('div.slider-nav');
  var margin = 0; 
  var loc = 0;
  $('div.slider-nav').find('li#next').on('click', function() {
      if (current === imageLength)
      {
         margin = 0;
         current = 1;
      }
      else {
        margin = loc-imageWidth;
        current++;
      }
      loc = margin;	
      //sliderUL.animate({'margin-left': margin});
      sliderUL.css('margin-left', margin);
      console.log('margin: %d, current %d ', margin,current); 
  });
  $('div.slider-nav').find('li#prev').on('click', function() {
      if (current === 1)
      {
         margin = -(imageLength*imageWidth) + imageWidth;
         current = imageLength;
      }
      else {
         margin = loc+imageWidth;
         current--;
      }
      loc = margin;       
      sliderUL.animate({'margin-left': margin});
      console.log('margin: %d, current %d ', margin,current);	
  });

  $('div#feature1').on('click', function() {
    $('div.content1').hide();
    console.log("hi");
 });

</script>
<section id="MainContent">
<!-- Section that contains Shank Global details --!>
  <h1 id="big"> Bringing offshore solutions for small businesses. </h1>
  <h1 id="small"> Peace of mind, that wont cost you much.  </h1> 
  <div class="container">
    <div class="row">  
      <div class="span4">
        <div class="feature">
          <h2>  Virtual Administration </h2>
          <center> <img src="/images/Email.jpeg"  </center>
          <h3> 
               <li> Email Customer Support </li>
               <li> Email Marketing Campaign </li>
               <li> Social Media Support </li> 
          </h3>
        </div> <!-- Feature --!>
      </div>  <!-- Span --!>
      <div class="span4">
       <div class="feature" id="feature2">
         <h2> <center> Back Office Support </center> </h2>
	 <center> <img src="/images/BPO.jpeg"> </center>
         <h3> 
	   <li>  Data Entry and Research      </li>
           <li>  Article typing and Proof-reading</li>
           <li>  Document Conversions </li>
           <li>  Open Cart Order Processing </li>
         </h3> <!-- Heading for Line Items --!>
      </div>  <!-- Feature --!>
    </div> <!-- Span --!>
    <div class="span4">
      <div class="feature" id="feature3">
        <h2> Miscellaneous </h2>
        <center> <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> </center>
        <h3> 
           <li>  Re-touching Image Blemishes </li>
           <li>  Audio/Video Transcription   </li>
        </h3>
      </div> <!-- Feature --!>
    </div>  <!--Span --!>  

  </div>    <!-- Row --!> 

     <p id="Intro"> Welcome to <font class="rust"> Shank Global Solutions </font>! We are an experienced outsourcing firm registered in California, U.S.A.
	with our staff  working from Chennai, India. We understand your need to ensure quality and believe that with our global exposure we can provide accurate services at a low cost.  
     </p> 
</div>  <!-- Container --!>

</section> <!-- MainContent --!>

<section id="Skills">
  <h2> At Shank Global Solutions you can expect the following advantages </h2>
    <div class="container adv"> 
      <div class="row">
	 <div class="span3"> 
           <li> <center> <img src="/images/LowCost.png"> </center> </li> 
           <br>  
           <div><center> <font class="rust"> Save Money </font> <br> We start at $5/hour and give discouted pacakages! </center> </div>
         </div> <!-- Span3 --!>
         <div class="span3">
           <li> <center> <img src="/images/Timeliness.png"> </center> </li>
           <br>
           <div><center> <font class="rust"> Timeliness </font>  <br> We will go to great lengths to meet your deadlines. </center> </div>
         </div> <!-- Span 3 --!>
        <div class="span3">
          <li> <center> <img src="/images/Quality.png"> </center> </li>
          <br>
          <div> <center> <font class="rust"> Quality </font> <br> Our quality will make you happy </center></div>
        </div> <!-- Span3 --!>
        <div class="span3"> 
          <li> <center> <img src="/images/Communication.png"> </center> </li>
          <br>
          <div> <center> <font class="rust"> Communication </font> <br> We will keep you posted often and <br> escalate issues when we see them</center> </div>
        </div> <!--Span3 --!>
     </div> <!-- Row --!>
   </div> <!-- Container --!>
   <br>
   <br>
   <br> 
   <br>

   <center> <a class="button" heref="/about_path"> Click Here To Email  Us! </a> </center>
   <br> 
   <br>
</section> <!--Skills --!>

<script>
   $('div.feature').on('click', function() {
	window.location='/services/'; 
	var email='EmailCustomerSupport';
	displayServices(email);        
});
</script>
