<% provide(:title, 'Shank Global Solutions | Offshore services for less | Home') %>
<% provide(:tab, 'HOME') %>

<meta name="Description" content="Shank Global Solutions provides high quality back office work for reasonable prices. We offer data entry in Excel and Word, customer support using ZenDesk and Live Person, Audio and Video Transcription and Internet Marketing "> 
<section id="MainContent">
<!-- Section that contains Shank Global details --!>
  <h1 id="big"> Bringing offshore solutions for small businesses. </h1>
  <h1 id="small"> Peace of mind, that wont cost you much.  </h1> 
  <div class="container">
    <div class="row">  
      <div class="span4">
        <div class="feature">
          <h2>  Virtual Administration </h2>
          <center> <img src="/images/Email.jpeg">  </center>
          <h3> 
               <li> <a href="/services" rel="external"> E-Customer Support </a> </li>
               <li> <a href="/services" rel="external">  Internet Marketing Campaign </a> </li>
               <li> <a href="/services" rel="external"> Social Media Support </a> </li> 
          </h3>
        </div> <!-- Feature --!>
      </div>  <!-- Span --!>
      <div class="span4">
       <div class="feature" id="feature2">
         <h2> <center> Back Office Support </center> </h2>
	 <center> <img src="/images/BPO.jpeg"> </center>
         <h3> 
	   <li>  Data Entry and Online Research      </li>
           <li>  Article typing and Proof-reading</li>
           <li>  Audio and Video Transcription </li>
         </h3> <!-- Heading for Line Items --!>
      </div>  <!-- Feature --!>
    </div> <!-- Span --!>
    <div class="span4">
      <div class="feature" id="feature3">
        <h2> Miscellaneous </h2>
        <center> <img src="/images/Computer.png"></center>
	<h3> 
           <li>  Re-touching Image Blemishes </li>
           <li>  Document Conversion  </li>
	   <li>  Contact Verification  </li>
        </h3>
      </div> <!-- Feature --!>
    </div>  <!--Span --!>  

  </div>    <!-- Row --!> 

     <p id="Intro"> Welcome to <font class="rust"> Shank Global Solutions </font>! We are an experienced outsourcing firm registered in California, U.S.A.
	with our staff  working from Chennai, India. We understand your need to ensure quality and believe that with our global exposure we can provide accurate services at a low cost.  
     </p> 
</div>  <!-- Container --!>

</section> <!-- MainContent --!>

<section id="Skills">
  <h2> At Shank Global Solutions you can expect the following advantages </h2>
    <div class="container adv"> 
      <div class="row">
	 <div class="span3"> 
           <li> <center> <img src="/images/LowCost.png"> </center> </li> 
           <br>  
           <div><center> <font class="rust"> Save Money </font> <br> We start at $4.5/hour and give great discounts! </center> </div>
         </div> <!-- Span3 --!>
         <div class="span3">
           <li> <center> <img src="/images/Timeliness.png"> </center> </li>
           <br>
           <div><center> <font class="rust"> Timeliness </font>  <br> We will work around the clock to meet your deadlines</center> </div>
         </div> <!-- Span 3 --!>
        <div class="span3">
          <li> <center> <img src="/images/Quality.png"> </center> </li>
          <br>
          <div> <center> <font class="rust"> Quality </font> <br> With over 7 years of experience, we ensure quality is delivered   </center></div>
        </div> <!-- Span3 --!>
        <div class="span3"> 
          <li> <center> <img src="/images/Communication.png"> </center> </li>
          <br>
          <div> <center> <font class="rust"> Communication </font> <br> We will keep you posted often and <br> escalate issues when we see them</center> </div>
        </div> <!--Span3 --!>
     </div> <!-- Row --!>
   </div> <!-- Container --!>
   <br>
   <br>
   <br> 
   <br>

   <center> <a class="button" heref="/about_path"> Click Here To Email  Us! </a> </center>
   <br> 
   <br>
</section> <!--Skills --!>

<script>
   $('div.feature').on('click', function() {
	var email='EmailCustomerSupport';
	$("#services").html(email);
});
</script>
