<% provide(:title, 'SERVICES') %>
<% provide(:tab, 'SERVICES') %>

<div class="row" id="servicesRow">
  <div class="span3 sidebar"> 
        SERVICES
       <h3> 
 	  <li id="ECS"> E-Customer Support </li>
          <li id="IMC"> Internet Marketing Campaign </li>
  	  <li id="SMS"> Social Media Support </li>
          <li id="DE"> Data Entry and Web Research </li> 
          <li id="APR"> Article Typing and Proof-Reading </li>
          <li id="AVT"> Audio and Video Transcription </li>
          <li id="IER"> Image Editing and Retouching 
          <li id="DCT"> Document Conversion </li>
      </h3>

  </div> <!--Span2--!>

  <div class="span9 details-container">
	<div class="details" id="DE"> 
		<h2> Data Entry Services </h2>
		<div> We give customer support services to users that is prompt and well written We start at $5/hour and give discouted pacakages!Hi my name is Deepak. How are you doing today </div>
                <br> <br> <hr>
		<div class="skills"> 
                    <li> <center> <img src="/images/Google.jpeg"> </li>
		    <li> <img src="/images/Office.jpeg"> </center></li>
               </div> <!-- Skills for Data Entry --!>
        </div> <!-- DataEntry Details --!>
  
        <div class=details id="ECS">
            <h2> E-Customer Support Services </h2>
                <div> We strive to give customer support service to users that is prompt, polite and written with
                 correct grammar. 
                We used software to deliver context based communication that can resovlve customer issues. </div>
                <br> <br> <hr>
                <div class="skills">
                  <li> <img src="/images/LP.jpg"> </li>
                  <li> <img src="/images/Office.jpeg"> </li>
                  <li> <img src="/images/ZenDesk.jpeg"> </li>
                </div> <!-- Skills for Data Entry --!>
	</div>
        <div class=details id="SMS">
                <h2> Social Media Support </h2>
		  <div> We give customers the ability to provide make postings on Facebook, Twitter, Youtube and Google Plus.
                  </div>
 
                <br> <br> <hr>
		<div class="skills">
		  <li> <img src="/images/hoot.jpeg"> </li>
		</div>

	</div> <!-- Social Media Support --!>
      

       <div class=details id="IMC">
                <h2> Internet Marketing Campaign </h2>
                  <div> We give customers the ability to provide make postings on Facebook, Twitter, Youtube and Google Plus.
                  </div>
 
                <br><br><hr>
                <div class="skills">
                  <li> <img src="/images/MailChimp.jpeg"> </li>
                </div>
       </div>

      <div class=details id="APR">
                <h2> Article Typing and Proof-Reading </h2>
                  <div> We give customers the ability to provide make postings on Facebook, Twitter, Youtube and Google Plus.
                  </div>
 
                <br><br><hr>
                <div class="skills">
                  <li> <img src="/images/Word.jpeg"> </li>
                </div>
       </div>

      <div class=details id="AVT">
                <h2> Audio and Video Transcription </h2>
                  <div> We give customers the ability to provide make postings on Facebook, Twitter, Youtube and Google Plus.
                  </div>
 
                <br><br><hr>
                <div class="skills">
                  <li> <img src="/images/Word.jpeg"> </li>
                </div>
       </div>

       <div class=details id="IER">
                <h2> Article Typing and Proof-Reading </h2>
                  <div> We give customers the ability to provide make postings on Facebook, Twitter, Youtube and Google Plus.
                  </div>
 
                <br><br><hr>
                <div class="skills">
                  <li> <img src="/images/Word.jpeg"> </li>
                </div>
       </div>
 
  </div> <!-- Span 10 --!>

 </div> <!-- Row --!>
<script>
  
  $(document).ready(function () {
	   $('div.details#ECS')
                          .show()
                          .siblings().hide();
	   $('div.sidebar').find('li#ECS')
                          .css('color', '#353535')
                          .siblings().css('color', '#477DB3');
 });

 $('div.sidebar').find('li#ECS').on('click', function (){
                $('div.details#ECS')
                       .show()
                       .siblings().hide();

                $('div.sidebar').find('li#ECS')
                                .css('color', '#353535')
                                .siblings().css('color', '#477DB3');
  });

  $('div.sidebar').find('li#DE').on('click', function (){
		$('div.details#DE')
                       .show()
                       .siblings().hide();

		$('div.sidebar').find('li#DE')
                                .css('color', '#353535')
				.siblings().css('color', '#477DB3');
  });

  $('div.sidebar').find('li#IMC').on('click', function (){
                $('div.details#IMC')	
	                  .show()
                          .siblings().hide();

  		  $('div.sidebar').find('li#IMC')
                                .css('color', '#353535')
                                .siblings().css('color', '#477DB3');
  });
 
  $('div.sidebar').find('li#SMS').on('click', function (){
                $('div.details#SMS')	
				    .show()
                                    .siblings().hide();

		  $('div.sidebar').find('li#SMS')
                                .css('color', '#353535')
                                .siblings().css('color', '#477DB3');
  });
 

 $('div.sidebar').find('li#APR').on('click', function (){
                $('div.details#APR')
                                    .show()
                                    .siblings().hide();

                  $('div.sidebar').find('li#APR')
                                .css('color', '#353535')
                                .siblings().css('color', '#477DB3');
  });

 $('div.sidebar').find('li#AVT').on('click', function (){
                $('div.details#AVT')
                                    .show()
                                    .siblings().hide();

                  $('div.sidebar').find('li#AVT')
                                .css('color', '#353535')
                                .siblings().css('color', '#477DB3');
  });

 $('div.sidebar').find('li#IER').on('click', function (){
                $('div.details#IER')
                                    .show()
                                    .siblings().hide();

                  $('div.sidebar').find('li#IER')
                                .css('color', '#353535')
                                .siblings().css('color', '#477DB3');
  });


</script>



