@import "bootstrap";

/* universal */
$white: #fff;
$grayMediumLight: #eaeaea;
$greenLight: #00BA96;
$blueDark: #003399;
$blueMedium: #477DB3;
$black: #000;
$lightOrange: #CCCCFF;
$navyBlue: #000084;
$yellow: #FFDD55;
$blueLight: #86DBFF;
$rust: #912C00;
@font-face {
    font-family: 'tangerineregular';
    src: url('/fonts/tangerine_regular-webfont.eot');
    src: url('/fonts/tangerine_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/tangerine_regular-webfont.woff') format('woff'),
         url('/fonts/tangerine_regular-webfont.ttf') format('truetype'),
         url('/fonts/tangerine_regular-webfont.svg#tangerineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'quicksandregular';
    src: url('quicksand-regular-webfont.eot');
    src: url('quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('quicksand-regular-webfont.woff') format('woff'),
         url('quicksand-regular-webfont.ttf') format('truetype'),
         url('quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'exomedium';
    src: url('exo-medium-webfont.eot');
    src: url('exo-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo-medium-webfont.woff') format('woff'),
         url('exo-medium-webfont.ttf') format('truetype'),
         url('exo-medium-webfont.svg#exomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
//  overflow-y: scroll;
}

section {
  //overflow: auto;
}

* {
  font-family:  "Futura", "Trebuchet MS", Arial, sans-serif;
}

body {
  //padding-top: 60px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1#big {

  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  //font-weight: normal;
  color: $rust;
  font-family: "quicksandregular", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

h1#small {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
  font-family: "quicksandregular", Helvetica, Arial, Sans-serif;
}

h2 {
   font-size: 1.6em;
   color: $rust;
   text-align: center;
   font-weight: normal;
 }

h3 {
   font-size: 1.2em;
   text-align: center;
   color: $rust;
   font-weight: normal;
}

.navbar .container {
   margin-right: 250px;
   margin-left: 250px;
  // width: 700px;
  #background: #777;
}

#main_nav { 
    
    // Dimensions
    position: absolute;
    width: 100%;
    z-index:0;
    height: 6.4em;
    background-image: url('/images/gg.png');
    background-size:cover;
    //background-color: $navyBlue;
    padding: 0px;
    margin-bottom: 0px;

    // Padding
    padding: 0;

    // Border
     
      #logo
      {
      // Margin
      margin-bottom: -10px;
      margin-top: 37px;
      // Text
      text-align: center;
      // Font
      color: $rust;
      font-size:67px;
      font-family: tangerineregular;
       background:none;
       z-index: 9;
    }
}

#nav_tab {
     // Margin
     top: 6.4em;
     position:relative;

     // Background
     background:#333; 
     height:2.7em;
     width: 100%;
    ul {
      float: center;
      text-align: center;

    
    li {
      // Margin
      display: inline-block;
      margin-left: -3px;
      margin-top: 5px;
      padding-top: 5px;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 8px;
      // Text
      text-align: center;
      //background: #912C00;
      
      //Font
      font-family: "Courier";
      font-size:14px;

      //color: $yellow;
     &.active,&:hover {
         background: #fff;
         margin-bottom: -1px; 
         color:#777;
         //font-weight:bold;
         }
      }
    }
  }
     .contact {
        top: 30px;
        background: none;
        float: right;      
        height: 20px;
	width: 20px; 
    }
   


/* footer */
footer {
  padding-top: 20px; // Gap between border and text
  padding-bottom: 20px;
  border-top: 1px solid $grayLight; // Border line
  color: $grayDarker;  // Color of the footer text
  background-color: $blueLight; //  footer color background
  a {
      color: $grayDarker;
    }

 small {
  float: left;
 }
  
  ul { // List Items for the right of the footer
  float: right; // Anchor to the right
  list-style: none; 
    li
    {
      margin-left: 10px; // Gap between text and left margin
//      display: inline-block;
    } // end li
  } // end ul
} // footer close

section#MainContent {
  height: 630px;
  top: 65px;
  position: relative;
  background: #DDD;

}

section#MainContent .container {
  margin-right: 60px;
  margin-left: 60px;
  padding-left:150px;
  padding-right:100px;
  height: 630px;
  width: inherit;
  background: #fff;
}

section#Advantages
{
  padding: 60px;
  color: $black;
  font-size: 14px;
  height: 400px;
  background: #DDD;
   //background-image: "ggbridge.png";

}
section#Advantages .container {
   font-size: 16px;
   padding-right: 100px;
   padding-left: 100px;
   padding-top:50px;
   margin-top: -60px;
   height: 600px;
   width: inherit;
   background: $white;
   border-radius: 0;    
}
section#Services
{
   z-index: 1;
   height: 50em;
}
section#Contact
{
   height: 50em;  
   width: 50em;
   background: $white;
}

section#About
{
   padding: 60px;
   height: 500px; 
   font-size: 14px;
   background: #DDD;
}

section#About .container
{
   font-size: 16px;
   padding-right: 100px;
   padding-left: 100px;
   padding-top:100px;
   margin-top: -60px;
   height: 600px;
   width: inherit;
   background: #f2f2f2;
   border-radius: 0;
}

a.get-started {
  font-weight: 700;
  background-color: #f1bd40;
  color: #282828;
  text-transform: uppercase;
  -webkit-border-radius:50px;
  border-radius: 50px;
}

section#MainContent .feature {
	padding-top: 10px;
	border-radius: 10px;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-o-transition: 0.2s linear;
        border: 2px solid $blueLight;
	border-bottom: none;
	background: #f5f5f5;
	img {
		width:100px;
		height:100px;
	    }

	li {
	  	cursor: pointer;
		text-align: center;
                color: $grayDarker;
                border: 1px solid #f2f2f2;
                padding-top: 10px;
                padding-bottom: 10px;
                list-style:none;
                &:hover {
                 background-color: $yellow;
                }
          
             
               font-family: exomedium, Helvetica, Arial, "sans-serif";
          }
         a {
             font-family: exomedium, Futura, Helvetica, Arial, "sans-serif";
           }


}
section#MainContent .feature li:last-child {
	border-bottom: 2px solid $blueLight;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
}

section#Advantages .adv  {
  li {
	list-style: none;
     }
  font-size: 18px;
}
   
section#About .skills
{
	li  {
		// Font
                text-align: center;
		display: inline-block;
		list-style: none;
		height:80px;
		width:80px;
		padding-left: 20px;

	     }

         .span6{
		border: 2px solid $rust;
		text-align:center;
         	}

}
.button 
{
  font-size: 15px;
  background-color: #f1bd40;
  color: #282828;
  text-transform: uppercase;
  -webkit-border-radius:50px;
  border-radius: 50px;
  padding: 20px 20px 20px 20px;
  cursor: pointer;
  &:hover
   {
	background-color: #f6BD52;
   }
}
	
#Intro
{
   font-size: 20px;
   font-family: "Arial", sans-serif;   
   line-spacing: 1.5px;
}

font.rust
{
  color: $rust;
}

.sidebar
{
      // Fonts
      color: $rust;
      text-align: left;
      font-size: 20px;

      // Padding
      padding-left: 50px;
      padding-top: 25px;
      
      //Borders
      border: 2px solid #f2f2f2;
      background-color: #f0f5fa;
      border-bottom: none;
      
      // Dimensions
      height: 50em;
      -webkit-transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      -o-transition: 0.2s linear;
    
       li {
		font-size: 15px;
		font-family: "Helvetica";
		text-align: left;
		cursor: pointer;
                color: $blueMedium;
                border: 1px solid #dae3ec;
		border-left: none;
		border-right: none;
		border-top:none;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-right: 35px;
		list-style:none;
                &:hover {
                  color: $grayDarker;
                }
             }
}
.details-container 
{
     // Color
     color: $rust;
     text-align: center;
     
     // Padding
     padding-top: 25px;
     padding-left: 50px;
}
.details {
   
   // Font   
   color: #000;
   font-size: 15px;
   text-align: left;

   // Other
   display: none;
}
.shankpoints {
  li{
     list-style: none;
   }
}

#lightbox {
	position:fixed; /* keeps the lightbox window in the current viewport */
	top:0px;
	left:0;
	width:100%;
	height:100%;
	background:url('/images/overlay.png') repeat;
	text-align:center;
}
#lightbox p {
	text-align:right;
	color:#fff;
	margin-right:20px;
	font-size:12px;
}

#lightbox_content {
        position: relative;
        left: 300px;
        top: 100px;
        height: 300px;
	width: 300px;
}
  
#lightbox img {
	box-shadow:0 0 25px #111;
	-webkit-box-shadow:0 0 25px #111;
	-moz-box-shadow:0 0 25px #111;
	max-width:940px;
}


section#About .testi {
   font-family: "Helvetica", "Arial", "sans-serif";
   font-size: 18px;
   color: $blueMedium;
   background: #fDfDfD;
   padding:20px;
   border: #f8f8f8;
}
  
font.quote {
  font-size: 40px;
} 
