<footer  class="footer">
 <div class = "container"> 
  <nav>
    <div class="row"> 
       <div class="span6">
         <br>
         Email
         <br>
         Skype
         <br>
         <br> 
      </div> 
     <div class="span6">
   
      <ul class="nav pull-right">
        <li><a href="/">Home</a></li>
        <li> About </li>
        <li> Contact </li> 
      </ul>
     </div>
    </div>
  </nav> 
 </div>
</footer>
