<footer  class="footer">
 <div class = "container"> 
  <nav>
    <div class="row"> 
       <div class="span6">
         <br>
         <img src="/images/Gmail.png"> shankglobal@gmail.com
         <br>
         <img src="/images/Phone.png"> +11 91 44 24494218 
         <br>
         <img src="/images/Skype.png"> shankglobal
         <br>
         <img src="/images/Facebook.png"> Facebook.com/shankglobals
         <br> 
      </div> 
     <div class="span6">
   
      <ul class="nav pull-right">
        <li><a href="/">Home</a></li>
        <li> Services </li>
        <li> Blog </li> 
      </ul>
     </div>
    </div>
  </nav> 
 </div>
</footer>
