<div class=navbar id=main_nav role="navigation">
   <div class="container" id="logo"> Shank Global Solutions </div> <!-- Container --!>
</div> <!-- Main Nav Logo --!> 

<div class="navbar" id="nav_tab" role="navigation"> 
 <div class="container">
   <ul>  
    <%= nav_tab 'HOME', root_path, current:yield(:tab) %>
    <%= nav_tab 'ABOUT', about_path, current:yield(:tab)%>
    <li class= "contact" id="sk"> <img src="/images/Skype.png"> </li>
    <li class="contact id="ph"> <img src="/images/Phone.png"> </li>
    <li class="contact" id="gm"> <img src="/images/Gmail.png"> </li>
    <li class="contact" id="fb"> <img src="/images/Facebook.png"> </li>
   </ul>
 </div> <!--Container --!>
</div> <!-- Nav_Tab --!>


<script>
$('div.container').find('li#facebook').on('mouse', function() {
     

});

</script>

