<div class=navbar id=main_nav role="navigation">
   <div class="container" id="logo"> Shank Global Solutions </div>
</div> <!-- Main Nav Logo --!> 

<div class="navbar" id="nav_tab" role="navigation"> 
 <div class="container">
   <ul>  
    <%= nav_tab 'HOME', root_path, current:yield(:tab) %>
    <%= nav_tab 'SERVICES', services_path, current:yield(:tab)%>
    <%= nav_tab 'ABOUT', services_path, current:yield(:tab)%>
    <li class= "contact"> <img src="/images/Skype.png"> </li>
    <li class="contact"> <img src="/images/Phone.png"> </li>
    <li class="contact"> <img src="/images/Gmail.png"> </li>
    <li class="contact"> <img src="/images/Facebook.png"> </li>
   </ul>
 </div>
</div> <!-- Nav Tab --!>

</div>
